In [2]:
import numpy as np
import pandas as pd

In [16]:
col = ['White_King_file_column','White_King_rank_row', 'White_Rook_file', 'White_Rook_rank', 'Black_King_file','Black_King_rank','win_depth_white']

In [24]:
col1 = ['bkblk','bknwy','bkon8','bkona','bkspr','bkxbq','bkxcr','bkxwp','blxwp','bxqsq','cntxt','dsopp','dwipd',
 'hdchk','katri','mulch','qxmsq','r2ar8','reskd','reskr','rimmx','rkxwp','rxmsq','simpl','skach','skewr',
 'skrxp','spcop','stlmt','thrsk','wkcti','wkna8','wknck','wkovl','wkpos','wtoeg','class']

In [18]:
krkopt = pd.read_csv(r"C:\Users\PRATIBHA GUPTA\AppData\Roaming\jupyter\krkopt.csv", names = col)

In [25]:
krkp = pd.read_csv(r"C:\Users\PRATIBHA GUPTA\AppData\Roaming\jupyter\kr-vs-kp.csv", names = col1)

In [19]:
krkopt.head()

,White_King_file_column,White_King_rank_row,White_Rook_file,White_Rook_rank,Black_King_file,Black_King_rank,win_depth_white
0,a,1,b,3,c,2,draw
1,a,1,c,1,c,2,draw
2,a,1,c,1,d,1,draw
3,a,1,c,1,d,2,draw
4,a,1,c,2,c,1,draw

In [27]:
krkopt.shape

(28056, 7)

In [29]:
krkopt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28056 entries, 0 to 28055
Data columns (total 7 columns):
White_King_file_column    28056 non-null object
White_King_rank_row       28056 non-null int64
White_Rook_file           28056 non-null object
White_Rook_rank           28056 non-null int64
Black_King_file           28056 non-null object
Black_King_rank           28056 non-null int64
win_depth_white           28056 non-null object
dtypes: int64(3), object(4)
memory usage: 1.1+ MB

In [31]:
krkp.head()

,bkblk,bknwy,bkon8,bkona,bkspr,bkxbq,bkxcr,bkxwp,blxwp,bxqsq,...,spcop,stlmt,thrsk,wkcti,wkna8,wknck,wkovl,wkpos,wtoeg,class
0,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
1,f,f,f,f,t,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
2,f,f,f,f,t,f,t,f,f,f,...,f,f,f,f,f,f,t,t,n,won
3,f,f,f,f,f,f,f,f,t,f,...,f,f,f,f,f,f,t,t,n,won
4,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won

In [32]:
krkp.shape

(3196, 37)

In [33]:
krkp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3196 entries, 0 to 3195
Data columns (total 37 columns):
bkblk    3196 non-null object
bknwy    3196 non-null object
bkon8    3196 non-null object
bkona    3196 non-null object
bkspr    3196 non-null object
bkxbq    3196 non-null object
bkxcr    3196 non-null object
bkxwp    3196 non-null object
blxwp    3196 non-null object
bxqsq    3196 non-null object
cntxt    3196 non-null object
dsopp    3196 non-null object
dwipd    3196 non-null object
hdchk    3196 non-null object
katri    3196 non-null object
mulch    3196 non-null object
qxmsq    3196 non-null object
r2ar8    3196 non-null object
reskd    3196 non-null object
reskr    3196 non-null object
rimmx    3196 non-null object
rkxwp    3196 non-null object
rxmsq    3196 non-null object
simpl    3196 non-null object
skach    3196 non-null object
skewr    3196 non-null object
skrxp    3196 non-null object
spcop    3196 non-null object
stlmt    3196 non-null object
thrsk    3196 non-null object
wkcti    3196 non-null object
wkna8    3196 non-null object
wknck    3196 non-null object
wkovl    3196 non-null object
wkpos    3196 non-null object
wtoeg    3196 non-null object
class    3196 non-null object
dtypes: object(37)
memory usage: 462.0+ KB